<h1>Play#score</h1>
<p>Find me in app/views/play/score.html.erb</p>


<p>Your answer: <%= @guess %> (translation: <%= @result[:translation] %>)</p>
<p>Your time: <%= @result[:time] %> seconds</p>
<p>Your score: <%= @result[:score] %></p>
<p>Comment: <%= @result[:message] %></p>


<!-- {:time=>5, :translation=>nil, :score=>0, :message=>"not an english word"} -->
